captcha==0.2.4
carioca==1.0.0
cycler==0.10.0
Django==2.0.5
kiwisolver==1.0.1
numpy==1.15.1
Pillow==8.2.0
post==1.0.1
public==1.0.2
pyserial==3.4
python-dateutil==2.7.3
pytz==2018.4
query-string==1.0.1
request==1.0.1
six==1.11.0
virtualenv==16.0.0
WMI==1.4.9
xmodem==0.4.5
