/*!
 * xyindex css
 */
body {
    margin: 0px;
    padding: 0px;
    /*background: linear-gradient(255deg, #9999FF, #66CCCC, #336699, #003366);*/

    font-family: 微软雅黑;
}

.navbar a {
    color: whitesmoke !important;
}

body > nav {
    opacity: 0.7;
    background: linear-gradient(255deg, #000000, #245580);
    border-bottom-width: 0px !important;
    background-size: 100% !important;
}

nav > div .container-fluid {
    margin: 0px !important;
    padding: 0px !important;

}

.hl {
    color: whitesmoke;
    font-size: 20px;
}

.navbar-brand {
    font-size: 20px;
    font-family: 微软雅黑;
}

.navbar-header {
    font-size: 30px;
}

.navbar {
    padding: 0px;
    margin: 0px;
}

#carousel-box {
    /*margin-top: -10px;*/
    text-align: center;
    margin-bottom: 50px;
    padding: 0px;
    margin-top: 0px;

}

#contact-link {
    position: absolute;
    top: 15%;
    left: 30%;
    color: white;

}

#contact-link a {
    text-decoration: none;
    color: white;
}

#contact-link p {
    font-size: 30px;
    opacity: 0.8;
    font-weight: lighter;
}

.c2 div {
    margin-top: 20px;
    color: red;
    font-size: 20px;
}

#contact-link div {
    padding: 0px;
    height: 40px;
    width: 200px;
    line-height: 40px;
    margin-top: 20px;
    background: linear-gradient(255deg, #2b669a, #5bc0de);

}

#index-slogon {
    font-size: 50px !important;
}

#myCarousel {
    padding: 0px;
    margin: 0px;
}

.carousel-inner {
    margin: 0px;
    padding: 0px;
}

.strength-box div img {
    height: 100px;
}

.item {
    margin: 0px;
    padding: 0px;
}

.strength-box div {
    margin-bottom: 20px;
}

.strength-box {
    padding: 20px 10px 20px 10px;
    background: whitesmoke;
    text-align: center;

}

.strength-box h1 {
    margin-bottom: 50px;
}

.logo-block {
    height: 160px;
    float: left;
    border: 1px lightgrey solid;
}

#service-box {
    /*text-align: center;*/
    margin-top: 50px;
    padding: 10px;
    color: white;
}

#myCarousel1 {
    height: 300px;
    width: 500px;
    padding: 0px;
}

.log-box {
    margin-top: 50px;
}

#myCarousel1 .carousel-inner .item {

    margin-top: 60px;
}

#myCarousel div div img {
    height: 500px;
    width: 100%;
}

.scence-box {
    margin-top: 50px;
    text-align: center;
}

.scence-block {
    text-align: center;
    margin-top: 50px;
    border: gray 1px solid;
    padding: 10px;
}

.scence-block img {
    height: 200px;
    width: 100%;
}

.scence-block p {
    position: absolute;
    top: 45%;
    left: 40%;
    font-size: 20px;
}

#footer {
    position: relative;
    margin-top: 100px;
    padding-top: 30px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

#footer-back {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: black;

}

#footer-model {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    color: white;
}

#record {
    text-align: center;
}

#footer div a {
    text-decoration: none;
    color: darkgray;
    font-size: 15px;
    margin-right: 10px;
}

#footer div h4 {
    color: darkgray;
    margin-bottom: 20px;
}

#footer div span {
    color: darkgray;
    font-size: 15px;
    margin-top: 20px;
}

#service {
    background: linear-gradient(255deg, #2b669a, #5bc0de);

    opacity: 0.9;
    text-align: center;
    padding: 0px;
    margin-top: 50px;
    height: 500px;
    position: relative;

}

#service-box .title {
    font-size: 40px;
    color: white;
    font-family: 新宋体;

}

#service-box .title p a {
    font-size: 30px;

}

#service-box a {
    color: white;
    text-decoration: none;
}

/*#service-type div {*/
/*padding: 0px;*/
/*}*/
/*#service-type div p{*/
/*margin: 5px;*/
/*}*/

/*#service-type div span {*/
/*margin-right: 10px;*/
/*}*/
.desc {
    margin: 20px;
    padding-left: 30px;
    font-size: 15px;
    text-align: left;
}

.desc h4 {
    margin-bottom: 15px;
}

#img-header {
    margin-top: -10px;
    padding: 0px;
    height: 500px;
    text-align: center;
    width: 100%;
    color: white;
    background: linear-gradient(255deg, #000000, darkblue);

    position: relative;
}

#img-header .title {
    position: absolute;
    top: 30%;
    left: 38%;
    height: auto;
}

#img-header .title h {
    font-size: 40px;

}

#img-header .title p {
    margin-top: 20px;
    font-size: 20px;

}

#img-header img {
    margin: 0px;
    padding: 0px;
    height: 400px;
    width: 100%;
    margin-top: 0px;

}

#service-type {
    margin-top: 0px;
    background: #CCCCCC;
    /*height: 60px;*/
    opacity: 0.8;
}

#service-type div {
    text-align: center;
    font-size: 20px;
    color: black;
    line-height: 60px;
}

#filter-box {
    padding-top: 20px;
    margin-top: 80px;
    border: 1px solid gray;
}

#filter-box > div > div.col-lg-1 {
    border-right: lightgray 1px solid;
}

#filter-box > div {
    margin-bottom: 10px;
}

#all-data {
    font-size: 10px;
    margin-bottom: 20px;
}

#all-data a {
    text-decoration: none;

}

.dropdown {
    position: relative !important;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0px;
    z-index: 1;
    height: auto;
    text-align: left;
}

.dropdown-content div {
    display: block;
    margin: 0px;
    padding: 0px;
    background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.drop-show {
    display: none;

}

/*.service-type {*/
/*margin-bottom: 50px;*/
/*height: 400px;*/
/*margin-top: 50px;*/
/*}*/

.big-option-box {
    padding: 0px;
}

#more-option a {
    text-decoration: none;
}

.filter-option div {
    padding: 0px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    width: auto;
    /*height: 30px;*/
    margin-right: 20px;
}

.box-c a {
    color: black;
    text-decoration: none;
}

.box-active a {
    color: red;
}

.service-img img {
    height: 200px;
    width: 80%;
}

div .service-detail p {
    width: 70%;
}

.service-detail {
    text-align: center;
    line-height: 30px;
}

#side-bar {
    position: fixed;
    right: 0px;
    top: 40%;
    width: 50px;
    height: 150px;
    /*background:#31b0d5;*/
}

.consult {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    position: relative;
    font-size: 10px;
    text-align: center;
}

.consult-detail {
    padding: 10px 10px 10px 30px;
    text-align: left;
    height: 150px;
    width: 180px;
    top: 0px;
    position: absolute;
    /*color: blue;*/
    right: 50px;
    background: whitesmoke;
}

.consult-detail h4 {
    color: #3399CC;
}

.consult-detail hr {
    color: black;
    margin: 2px;
}

#side-bar p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    color: black;
}

.consult img {
    height: auto;
    width: 100%;
}

#source-img-box {
    width: 100%;
    height: 500px;
    padding: 0px;
    background: linear-gradient(255deg, #5bc0de, darkblue);

    position: relative;
}

#source-img-box img {
    width: 100%;
    height: 400px;
    margin-top: -5px;
}

#title {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    top: 30%;
    left: 30%;
}

#source-img-box b {
    position: absolute;
    top: 45%;
    left: 30%;
    color: #333300;
}

#open {
    margin-top: 50px;
    height: 200px;
    background: lightgrey;
}

#data-box > div {
    margin-top: 20px;
    padding: 0px;
    text-align: center;

}

.type-title {
    font-size: 20px;
}

.type-title .pull-right {
    font-size: 15px;
}

#data-box a {
    text-decoration: none;
}

#data-list {
    font-size: 15px;
    position: relative;
    min-height: 500px;
}

#display-box {
    margin-top: 40px;
    padding: 0px;
}

#data-type hr {
    margin-top: 50px;
    color: gray;
}

#ranking-box {
    background: lightyellow;
    min-height: 200px;
    padding: 15px;
    text-align: center;
}

#ranking-box div {
    padding-bottom: 10px;
}

#ranking-list {
    padding: 10px 20px 10px 20px;
}

#custom-made {
    margin-top: 10px;
    background: linear-gradient(255deg, #99CCCC, #CCCCFF);
    text-align: center;
    min-height: 400px;
    padding-top: 100px;
    fill-opacity: initial;

}

#custom-made h4 {
    margin-top: 20px;
}

.top3 {
    background: #FF9999;
}

p span span {
    margin-right: 10px;
    width: 20px;
    background: #F5F5F5;
    display: inline-block;
}

#data-type {
    height: 300px;
}

.model {
    position: absolute;
    opacity: 0.1;
    top: 0px;
    left: 0px;
    height: 350px;
    width: 100%;
    background: white;
}

.join-us {
    height: 300px;
    text-align: center;
    font-size: 100px;
    padding-top: 40px;
    color: white;
    margin-top: 50px;
    background-image: url("/static/imgs/job-back.png");
    background-repeat: no-repeat;
}

.job-box {
    border: 1px solid #99CC99;
    margin-top: 100px;
}

.job-detail p {
    font-size: 20px
}

.job-detail button {
    background: orange;
    margin-top: 20px
}

.job-box {
    background: linear-gradient(185deg, #94b1df, #4569a1);
}

.job-box div {

    border-right: 1px solid #99CC99;
    margin-top: 50px;
    font-size: 30px;
    padding-bottom: 20px;
}

.job-box .job-title {
    text-align: center;
}

#team div {
    margin-top: 20px;
    font-size: 30px;
    line-height: 200px;
    text-align: center;
}

#download-bread {
    min-height: 50px;
    background: #F5F5F5;
    margin-top: 50px;
    line-height: 50px;
}

#data-heat {
    height: 40px;
    background: #F5F5F5;
    font-size: 15px;
    color: blue;
    margin-top: 10px;
    line-height: 40px;
}

#data-heat span {
    margin-right: 20px;
}

#data-detail, #download-addr {
    margin-top: 30px;
}

#data-detail div {
    margin-top: 20px;
    margin-bottom: 20px;
}

#team-intro {

    height: 300px;
    width: 100%;
    /*border: 1px solid #009966;*/
}

#team-detail {
    height: 500px;

    width: 100%;
    border: 1px solid #336633;
}

#team {
    background: linear-gradient(230deg, blue, black);;
}

#map {
    margin-top: 50px;

}

iframe {
    text-align: center;
    width: 60%;
    height: 300px;
}

.form-group {
    margin-top: 20px;
    position: relative;

}

.form-group input {
    margin-top: 5px;
    height: 50px;
}

form button {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 50px;
}

.form-box {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 50px;
}

form {
    padding: 10px 10px 30px 10px;
}

form textarea {
    min-height: 100px;
}

#contacts div {
    padding: 10px;
    background: #CCCCCC;
    margin-bottom: 40px;
}

#vcode input[name='vcode'] {
    width: 50%;
}

#codeimg {
    height: 50px;
    width: 120px;
    /*position: absolute;*/
    /*top: 0px;*/
    /*right:100px;*/
}

.warning {
    border: 1px red solid;
}

.success {
    border: 1px green solid;
}

.reg-box {
    margin-top: 40px;
    background: whitesmoke;

    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    border-radius: 3%;

}
#rsubmit{
    margin-top: 20px;
}

.reg-box .title {
    font-size: 30px;
}

#send-pcode {
    font-size: 15px;
    text-align: center;
    line-height: 50px;
    margin-top: 5px;
    background: lightgrey;
}

.c1 {
    position: fixed;
    width: 500px;
    height: 300px;
    left: 50%;
    top: 40%;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 9;
    margin-left: -250px;
    margin-top: -200px;
}

.c2 {
    width: 500px;
    height: 200px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 40%;
    margin-left: -250px;
    margin-top: -200px;
    z-index: 10;
}
.c2 p{
    margin-top: 50px;
    font-size: 15px;
}