{% extends 'base.html' %}
{% block title %}
    <title>关于我们</title>
{% endblock %}
{% block body %}
    <div id="team" class="container-fluid" >
        <div id="team-intro" class="container">
            <p   style="font-size: 50px;color: white">专业的AI数据平台</p>
            <div  class="col-sm-8"></div>
        </div>
        <div id="team-detail" class="container">
            团队使命
{#             <a href=" tencent://message/?Menu=yes&uin=692512069&Site=80fans&Service=300&sigT=45a1e5847943b64c6ff3990f8a9e644d2b31356cb0b4ac6b24663a3c8dd0f8aa12a545b1714f9d45" >qq</a>#}
{#            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2::52" alt="点击这里" title="点击这里"/></a>#}
        </div>

    </div>
    <div id="contacts" class="container col-lg-5" style="margin-top: 50px;  ">
        <div class="col-sm-7 col-sm-offset-2">
            <label>数据采集 线下团队 资源互换</label>
            <p>联系人：谭先生</p>
            <p>联系电话：xxxx-xxxx-xxx
            </p>
            <p>Email：harry@xjkj.com
            </p>
        </div>
        <div class="col-sm-7 col-sm-offset-2">
            <label>数据采集 线下团队 资源互换</label>
            <p>联系人：张女士</p>
            <p>联系电话：xxxx-xxxx-xxx
            </p>
            <p>Email：Brant@xjkj.com
            </p>
        </div>

    </div>
    <div id="map" class="container col-lg-offset-5">
        <iframe src="/map/"></iframe>
    </div>

{% endblock %}