{% extends 'base.html' %}
{% block title %}
    <title>工作机会</title>
{% endblock %}
{% block body %}
    <div class="join-us container-fluid" >
        <div><p>JOIN US</p>
        </div><p style="font-size: 40px">招贤纳士</p>
    <div class="model"></div>
    </div>
    <div class="job-box container" >
        <div class="job-title col-lg-12">
            精准数据师

        </div>
        <hr style="color: black;width: 100%">
        <div class="job-detail col-lg-12">
            <h3>岗位职责</h3>
            <p>1. 数据标注：对文字、语料、图片、数据各种内容进行文本标注和筛选、分析</p>
            <p>2. 梳理各项分类、标签定义，探索新分类、标签;</p>
            <p>3. 充分理解数据标注的背景和标准，较为精确地完成务，为相关策略的制定提供依据；</p>
            <button class="btn pull-right">投递简历</button>
        </div>
    </div>
    <div class="job-box container">
        <div class="job-title col-lg-12">
            爬虫工程师
        </div>
        <hr style="color: black;width: 100%">
        <div class="job-detail col-lg-12">
            <h3> 工作职责</h3>
            <p>1. 负责网页信息抽取技术的研究和开发;</p>
            <p>2. 负责爬虫各个系统核心代码开发;</p>
            <p>3、提高数据抓取的效率和质量，解决数据的重复，垃圾数据识别，清洗;</p>
            <p>4、提高系统的可运维，可测性，易用性。</p>

            <button class="btn pull-right">投递简历</button>

        </div>
    </div>



{% endblock %}