{% extends 'base.html' %}
{% block body %}
    <div class="job-box container">
        <div class="job-title col-lg-3">
            精准数据师
        </div>
        <div class="job-detail col-lg-9">
            <h3>岗位职责</h3>
            <p style="font-size: 20px">1. 数据标注：对文字、语料、图片、数据各种内容进行文本标注和筛选、分析</p>
            <p style="font-size: 20px">2. 梳理各项分类、标签定义，探索新分类、标签；</p>
            <p style="font-size: 20px">3. 充分理解数据标注的背景和标准，较为精确地完成务，为相关策略的制定提供依据；</p>
            <button class="btn pull-right" style="background: orange;margin-top: 20px">投递简历</button>
        </div>
    </div>
    <div class="job-box container">
        <div class="job-title col-lg-3">
            爬虫工程师
        </div>
        <div class="job-detail col-lg-9">
            工作职责
        </div>
    </div>

    <div class="job-box container">
        <div class="job-title col-lg-3">
            爬虫工程师
        </div>
        <div class="job-detail col-lg-9">
            工作职责
        </div>
    </div>

    <div class="job-box container">
        <div class="job-title col-lg-3">
            爬虫工程师
        </div>
        <div class="job-detail col-lg-9">
            工作职责
        </div>
    </div>

{% endblock %}